.Identity-accepted {
  position: relative;
  border: 1px solid #69CC8B;
  border-radius: 12px;
  width: 260px;
  height: 160px;
  background-image: url('../../assets/id-card.png');
}

.Identity-rejected {
  position: relative;
  border: 1px solid #C00000;
  border-radius: 12px;
  width: 260px;
  height: 160px;
  background-image: url('../../assets/id-card.png');
}

.Identity-empty {
  position: relative;
  border-radius: 12px;
  width: 260px;
  height: 160px;
  background-image: url('../../assets/id-empty.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.Empty-image {
  position: relative;
}

.Result-accepted {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  float: right;
  width: 105px;
  height: 30px;
  background-color: #69CC8B;
  z-index: 999;
  margin-top: 145px;
  right: 0px;
  margin-right: 24px;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.75px;
  font-weight: bold;
  padding-right: 8px;
}

.Result-rejected {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  float: right;
  width: 105px;
  height: 30px;
  background-color: #C00000;
  z-index: 999;
  margin-top: 145px;
  right: 0px;
  margin-right: 24px;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.75px;
  font-weight: bold;
  padding-right: 8px;
}

.Take-picture {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  float: right;
  width: 160px;
  height: 48px;
  background-color: #2F0079;
  z-index: 999;
  border-radius: 24px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.35px;
  font-weight: bold;
  padding-right: 8px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}