.camera-container {
  height: 100%;
  width: 100%;
}
.camera-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
}

.camera-title {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 21px;
  letter-spacing: normal;
  text-align: center;
  margin-top: 100px;
}

.camera-text {
  color: #FFFFFF;
  font-size: 16px;
  letter-spacing: normal;
  text-align: center;
  margin-top: 16px;
}

.camera-window {
  width: 289px;
  height: 179px;
  border-radius: 18px;
  margin-top: 56px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 0px 800px rgba(20,28,38,0.75);
}

.camera-window-accepted {
  border: 1px solid #69CC8B;
}

.camera-window-rejected {
  border: 1px solid #C00000
}

.camera-message {
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 23px;
  text-align: center;
  font-size: 16px;
  letter-spacing: normal;
}

.camera-cancel {
  color: #FFFFFF;
  font-weight: bold;
  letter-spacing: 0.35px;
  text-align: center;
  margin-top: 179px;
  
}
