.camera-transparent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(20,28,38,0.75);
}

.camera-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  fill: rgba(20,28,38,0.75);
}

.camera-title {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 21px;
  letter-spacing: normal;
  text-align: center;
  margin-top: 100px;
}

.camera-text {
  color: #FFFFFF;
  font-size: 16px;
  letter-spacing: normal;
  text-align: center;
  margin-top: 16px;
}
