.container {
  text-align: center;
}

.header {
  padding-top: 18px;
  padding-left: 20px;
  padding-bottom: 18px;
  font-size: 21px;
  text-align: start;
  color: #2F0079;
  line-height: 24px;
  letter-spacing: 0;
  font-style: italic;
  border-bottom: 1px solid rgba(47,0,121,0.1);
}

.title {
  width: 100%;
  margin-top: 32px;
  font-size: 21px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

.info-text {
  width: calc(100% - 60px);
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 16px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: normal;
  font-style: normal;
  font-weight: normal;
}

.identity-card-container {
  position: relative;
  display: flex;
  margin-top: 24px;
  width: 100%;
  justify-content: center;
}